@charset "utf-8";
html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, 'Microsoft Yahei';
}

html {
  font-size: 14px;
}

body { 
  -webkit-text-size-adjust: none;
  box-sizing:border-box;
}
a {
  text-decoration: none;
  
}

.clearfix{
  zoom:1;
  &:after{
    display: block;
    content: '';
    height: 0;
    clear: both;
  }
}