/* line 2, ../scss/common/_layout.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, 'Microsoft Yahei';
}

/* line 8, ../scss/common/_layout.scss */
html {
  font-size: 14px;
}

/* line 12, ../scss/common/_layout.scss */
body {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

/* line 16, ../scss/common/_layout.scss */
a {
  text-decoration: none;
}

/* line 21, ../scss/common/_layout.scss */
.clearfix {
  zoom: 1;
}
/* line 23, ../scss/common/_layout.scss */
.clearfix:after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}

/* YUI 3.18.1 */
/* line 3, ../scss/common/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/common/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 14, ../scss/common/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 19, ../scss/common/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 23, ../scss/common/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 28, ../scss/common/_reset.scss */
ol, ul, li {
  list-style: none;
}

/* line 32, ../scss/common/_reset.scss */
caption, th {
  text-align: left;
}

/* line 36, ../scss/common/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 41, ../scss/common/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 46, ../scss/common/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 50, ../scss/common/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 54, ../scss/common/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
  *font-size: 100%;
}

/* line 62, ../scss/common/_reset.scss */
legend {
  color: #000;
}

/* line 66, ../scss/common/_reset.scss */
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 5, ../scss/index.scss */
.map-container {
  width: 100%;
  height: 100%;
}

/* line 10, ../scss/index.scss */
.nav-all {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #333;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
/* line 21, ../scss/index.scss */
.nav-all li {
  line-height: 3;
  padding: 0 0.37rem;
}
/* line 27, ../scss/index.scss */
.nav-all li a {
  font-size: 0.4rem;
  color: #fff;
}
/* line 29, ../scss/index.scss */
.nav-all li a:active {
  background: rgba(0, 0, 0, 0.5);
}

/* line 36, ../scss/index.scss */
.expand {
  width: auto;
  overflow: auto;
}

/* line 41, ../scss/index.scss */
.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 52, ../scss/index.scss */
.dialog-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  max-height: 80%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
/* line 61, ../scss/index.scss */
.dialog-box .dialog-box-header {
  padding: 0.3rem;
  border: 1px solid #e5e5e5;
}
/* line 65, ../scss/index.scss */
.dialog-box .dialog-box-body {
  flex-glow: 1;
  padding: 0.3rem;
  font-size: 0.35rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 73, ../scss/index.scss */
.dialog-box .dialog-box-body p {
  margin-bottom: 0.15rem;
}
/* line 77, ../scss/index.scss */
.dialog-box .dialog-box-footer {
  padding: 0.3rem;
  text-align: right;
}
/* line 81, ../scss/index.scss */
.dialog-box .pano-btn {
  display: inline-block;
  padding: 0.27rem 0.42rem;
  color: #fff;
  background: #337ab7;
}

/* line 89, ../scss/index.scss */
.dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.12rem;
  height: 1.12rem;
  background: url("../img/close.png") no-repeat;
  background-size: 100%;
}

/* line 100, ../scss/index.scss */
.dialog-title {
  font-size: 0.44rem;
  line-height: 2;
}

@media screen and (min-width: 960px) {
  /* line 106, ../scss/index.scss */
  .dialog-box {
    width: 700px;
  }
}
